{% extends 'base.html' %}
{% block title %}Acknowledgements{% endblock %}
{% block content %}
    <h1>Acknowledgements</h1>

    <p>Extracts from <span class="fst-italic">The Book of Common Prayer</span>,
        the rights of which are vested in the Crown, are reproduced by
        permission of the Crown's patentee, Cambridge University Press.</p>

    <p>Information about hymns in <span class="fst-italic">The New
        English Hymnal</span> is provided by
        <a href="https://hymnary.org">hymnary.org</a>.</p>
{% endblock %}
