<div id="feastList"
     data-current-feast="{{ feast_name|default('', true) }}"
     data-feast-url-template="{{ url_for('feast_detail_view', slug='__slug__') }}"
     data-index-api-url="{{ url_for('feast_index_api') }}"
     data-upcoming-api-url="{{ url_for('feast_upcoming_api') }}">
    <a id="sortFeastsByCalendar" class="btn btn-sm btn-secondary"><small>cal</small></a>
    <a id="sortFeastsByName" class="btn btn-sm btn-secondary"><small>A&ndash;Z</small></a>
    <a id="sortFeastsByUpcoming" class="btn btn-sm btn-secondary"><small>soon</small></a>
    <div id="feastListDiv">
        <ul class="list-unstyled">
        </ul>
    </div>
</div>
