{% extends 'base.html' %}
{% block title %}Feast {{ feast.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h1>{{ feast.name }}</h1>
            <p><small>{{ feast.date | english_date }}</small></p>
        </div>
        <div class="col-sm-3 d-print-none">
            <p>
                <a class="btn btn-light m-1 js-print"
                   title="print" aria-label="print"
                   data-bs-toggle="tooltip" data-bs-placement="top">
                    <svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-printer-fill"
                      viewBox="0 0 16 16">
                        <path
                          d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                        <path
                          d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                    </svg>
                </a>
                <a class="btn btn-primary my-1"
                   href="{{ url_for('feast_docx_view', slug=feast.slug) }}">.docx</a>
            </p>
        </div>
    </div>

    <h2>Introit</h2>
    <p>{{ feast.introit }}</p>

    <h2>Collect</h2>
    <p>{{ feast.collect }}</p>

    <h2>Epistle</h2>
    <p><i>{{ feast.epistle_ref }}</i></p>
    <p>{{ feast.epistle }}</p>

    {% if 'Gradual' in feast.gat %}
        <h2>Gradual</h2>
        <p>{{ feast.gradual }}</p>
    {% endif %}
    {% if 'Alleluia' in feast.gat %}
        <h2>Alleluia</h2>
        <p>{{ feast.alleluia }}</p>
    {% endif %}
    {% if 'Tract' in feast.gat %}
        <h2>Tract</h2>
        <p>{{ feast.tract }}</p>
    {% endif %}

    <h2>Gospel</h2>
    <p><i>{{ feast.gospel_ref }}</i></p>
    <p>{{ feast.gospel }}</p>

    <h2>Offertory</h2>
    <p>{{ feast.offertory }}</p>

    <h2>Communion</h2>
    <p>{{ feast.communion }}</p>
{% endblock %}
{% block sidebar %}
    {% with feast_name = feast.name %}
        {% include 'feastList.html' %}
    {% endwith %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='feastList.js') }}" defer></script>
{% endblock %}
