<div class="container w-print-100">
    <div class="row">
        <div class="col-sm-7">
            <h1>{{ service | service_header }}</h1>
        </div>
        <div class="col-sm-5 d-print-none">
            <p>
                <a id="copyUrlBtn" class="btn btn-secondary me-1"
                   title="copy link" aria-label="copy link"
                   data-bs-toggle="tooltip" data-bs-placement="top"><svg
                       xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                       fill="currentColor" class="bi bi-link-45deg"
                       viewBox="0 0 16 16"><path
                        d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/><path
                        d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/></svg></a>
                <a class="btn btn-light me-1 js-print"
                   title="print" aria-label="print"
                   data-bs-toggle="tooltip" data-bs-placement="top"><svg
                       xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                       fill="currentColor" class="bi bi-printer-fill"
                       viewBox="0 0 16 16"><path
                        d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/><path
                        d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/></svg></a>
                <a id="makeDocxBtn" class="btn btn-primary me-1"
                   title=".docx" aria-label=".docx"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   href="{{ url_for('pew_sheet_docx_view') }}">.docx</a>
            </p>
        </div>
    </div>

    <p class="small"><em>{{ service | service_supertitle }}<br/>
        {{ service | service_subtitle }}</em></p>

    {% for item in service.items %}
        <h2>{{ item.title }}</h2>
        {% if item.subtitle %}
            <p class="my-0"><i>{{ item.subtitle }}</i></p>
        {% endif %}
        {% for pg in item.paragraphs %}
            <p class="pewbody">{{ pg }}</p>
        {% endfor %}
    {% endfor %}
</div>
