<div class="container w-print-100">
    <div class="row">
        <div class="col-sm-7">
            <h1>{{ service | service_header }}</h1>
        </div>
        <div class="col-sm-5 d-print-none">
            <p>
                <a id="copyUrlBtn" class="btn btn-secondary me-1">copy link</a>
                <a class="btn btn-light me-1 js-print">print</a>
                <a id="makeDocxBtn" class="btn btn-primary me-1"
                   href="{{ url_for('pew_sheet_docx_view') }}">.docx</a>
            </p>
        </div>
    </div>

    <p class="small"><em>{{ service | service_supertitle }}<br/>
        {{ service | service_subtitle }}</em></p>

    {% for item in service.items %}
        <h2>{{ item.title }}</h2>
        {% if item.subtitle %}
            <p class="my-0"><i>{{ item.subtitle }}</i></p>
        {% endif %}
        {% for pg in item.paragraphs %}
            <p class="pewbody">{{ pg }}</p>
        {% endfor %}
    {% endfor %}
</div>
