<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-sm fixed-bottom navbar-dark bg-black
            justify-content-between">
    <div class="container">
      <div class="collapse navbar-collapse" id="bottomBar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://stclementscambridge.co.uk/">
              St Clement's website
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="https://github.com/jftsang/pypew">GitHub</a>
          </li>
        </ul>
      </div>

    </div>
</nav>