{% extends 'base.html' %}
{% block title %}Service {{ service.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ service.name }}</h1>
        </div>
        <div class="col">
            <p>
                <a class="btn btn-primary mx-1" href="{{ url_for('service_docx_view', name=service.name) }}">.docx</a>
                <a class="btn btn-danger mx-1" href="{{ url_for('service_pdf_view', name=service.name) }}">.pdf</a>
            </p>
        </div>
    </div>

    {% for e in service.elements %}
        <p>
            <strong>{{ e }}</strong><br>{{ service.elements[e] }}
        </p>
    {% endfor %}
{% endblock %}
