body {
    --bs-body-bg: hsl(38, 23%, 5%);
}

main {
    padding-bottom: 4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Book Antiqua", serif;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

#navbar {
    background-image: var(--bs-gradient);
}

#footer {
    height: 3em;
    background-color: hsla(38, 33%, 20%, 0.5);
}

ul#flashes {
}

li.flash {
    list-style: none;
}

@media print {
    body {
        font-family: serif;
    }

    p {
        line-height: normal;
        text-align: justify;
    }

    .w-print-100 {
        width: 100% !important;
        max-width: none;
    }
}

#feastListDiv {
    max-height: 70vh;
    overflow: auto !important;
}
