body {
    --bs-body-bg: hsl(38, 23%, 5%);
}

main {
    padding-bottom: 2in;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Book Antiqua", serif;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

#navbar {
    /*background-color: black;*/
    /*noinspection CssUnresolvedCustomProperty*/
    background-image: var(--bs-gradient);
}

#footer {
    background-color: hsla(38, 33%, 20%, 0.5);
}

ul#flashes {
}

li.flash {
    list-style: none;
}
