{% extends 'base.html' %}
{% block title %}Feast {{ feast.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ feast.name }}</h1>
        </div>
        <div class="col">
            <p>
                <a class="btn btn-primary mx-1" href="{{ url_for('feast_docx_view', name=feast.name) }}">.docx</a>
                <a class="btn btn-danger mx-1" href="{{ url_for('feast_pdf_view', name=feast.name) }}">.pdf</a>
            </p>
        </div>
    </div>

    {% for e in feast.elements %}
        <p>
            {% if 'Reading' in e %}
                {% set extract = Extract.get(title=feast.elements[e]) %}
                <strong>{{ e }}</strong> <em>{{ extract.title }}</em><br>
                {{ extract.text }}
            {% else %}
                <strong>{{ e }}</strong><br>
                {{ feast.elements[e] }}
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
