<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav id="footer"
     class="navbar navbar-expand-sm fixed-bottom navbar-dark justify-content-between">
    <div class="container">
        <div class="collapse navbar-collapse" id="bottomBar">
            <div class="collapse navbar-collapse"></div>
{#            <span class="navbar-text font-weight-bolder">External links:</span>#}
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link" href="https://stclementscambridge.co.uk/">
                        St Clement's website
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="https://hymnary.org/hymnal/NEH1985">
                        NEH
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/book-common-prayer">
                        BCP
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link"
                       href="https://github.com/jftsang/pypew">GitHub</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse"></div>
        </div>

    </div>
</nav>
