<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav id="footer"
     class="navbar fixed-bottom navbar-dark">
    <div id="bottomBar" class="navbar-nav">
        <div class="row justify-content-center">
            <div class="col nav-item px-3">
                <a class="nav-link text-nowrap"
                   href="https://stclementscambridge.co.uk/">
                    St Clement's website
                </a>
            </div>
            <div class="col nav-item px-3">
                <a class="nav-link text-nowrap"
                   href="https://hymnary.org/hymnal/NEH1985">
                    NEH
                </a>
            </div>
            <div class="col nav-item px-3">
                <a class="nav-link text-nowrap"
                   href="https://www.churchofengland.org/prayer-and-worship/worship-texts-and-resources/book-common-prayer">
                    BCP
                </a>
            </div>
            <div class="col nav-item px-3">
                <a class="nav-link text-nowrap"
                   href="{{ url_for('acknowledgements_view') }}">Acknowledgements</a>
            </div>
            <div class="col nav-item px-3">
                <a class="nav-link text-nowrap"
                   href="https://github.com/jftsang/pypew">GitHub</a>
            </div>
        </div>
    </div>
</nav>
