{% extends 'base.html' %}
{% block title %}Pew Sheet{% endblock %}
{% block content %}

    {% if pew_sheet %}
        <div class="container">

        <h1>{{ pew_sheet.title }}</h1>

        <p class="text-muted">
            You would see information about {{ pew_sheet.title }} here,
            and some buttons to generate .docx and .pdf files.
        </p>
        </div>
    {% endif %}

    <div class="container">
        <form method="post"
              action="{{ url_for('pew_sheet_create_view') }}"
              class="px-5">
            {{ form.csrf_token }}

            <div class="row mb-3">
                {{ form.title.label(class='col-sm-1 col-form-label') }}
                <div class="col-sm-5">
                    {{ form.title(class='form-control') }}
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <small class="font-small text-danger">
                                {{ error }}
                            </small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col">
                    <a class="btn btn-secondary" id="autogenerate">Autogenerate</a>
                </div>
            </div>

            <div class="row mb-3">
                {{ form.feast_name.label(class='col-sm-1 col-form-label') }}
                <div class="col-sm-5">
                    {{ form.feast_name(class='form-select') }}
                    {% if form.feast_name.errors %}
                        {% for error in form.feast_name.errors %}
                            <small class="font-small text-danger">
                                {{ error }}
                            </small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                {{ form.date.label(class='col-sm-1 col-form-label') }}
                <div class="col">
                    {{ form.date(class='form-date') }}
                    <a class="btn btn-secondary btn-sm px-1" id="today-btn">Today</a>
                    {% if form.date.errors %}
                        {% for error in form.date.errors %}
                            <small class="font-small text-danger">
                                {{ error }}
                            </small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-secondary w-100" value="Go">
                </div>
            </div>
        </form>
    </div>

    <script>
        const autogenerate = document.getElementById('autogenerate');
        const titleField = document.getElementById('title');
        const feastNameField = document.getElementById('feast_name');
        const dateField = document.getElementById('date');
        autogenerate.onclick = (evt) => {
              titleField.value = feastNameField.value + ' ' + dateField.value;
        };

        const todayBtn = document.getElementById('today-btn');
        todayBtn.onclick = () => {
            dateField.value = (new Date()).toISOString().split('T')[0];
        }
    </script>

{% endblock %}
