<div class="container w-print-100">
    <div class="row">
        <div class="col-sm-9">
            <h1>{{ service | service_header }}</h1>
        </div>
        <div class="col-sm-3 d-print-none">
            <p>
                <a id="copyUrlBtn" class="btn btn-secondary my-1">copy link</a>
                <a id="printBtn" class="btn btn-light m-1">print</a>
                <a id="makeDocxBtn" class="btn btn-primary my-1"
                   href="{{ url_for('pew_sheet_docx_view') }}">.docx</a>
            </p>
        </div>
    </div>

    <p class="small"><em>{{ service | service_supertitle }}<br/>
        {{ service | service_subtitle }}</em></p>

    {% for item in service.items %}
        <h2>{{ item.title }}</h2>
        {% if item.subtitle %}
            <p class="my-0"><i>{{ item.subtitle }}</i></p>
        {% endif %}
        {% for pg in item.paragraphs %}
            <p class="pewbody">{{ pg }}</p>
        {% endfor %}
    {% endfor %}
</div>

<script>
  const copyUrlBtn = document.getElementById('copyUrlBtn');
  copyUrlBtn.onclick = () => {
    navigator.clipboard.writeText(window.location);
    notify({
      message: 'Link copied to clipboard.',
      color: 'success',
      timeout: 2000
    });
  };

  const printBtn = document.getElementById('printBtn');
    printBtn.onclick = () => {
        window.print();
    };

    const makeDocxBtn = document.getElementById('makeDocxBtn');
    makeDocxBtn.href += window.location.search;
</script>
