<form action="{{ url_for('pew_sheet_create_view') }}"
      class="px-5">
    <div class="row mb-3">
        {{ form.title.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.title(class='form-control') }}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col">
            <a class="btn btn-secondary" id="auto-title-btn">Autogenerate</a>
        </div>
    </div>

    <div class="row mb-3">
        {{ form.date.label(class='col-sm-1 col-form-label') }}
        <div class="col">
            {{ form.date(class='form-date') }}
            <a class="btn btn-secondary btn-sm px-1" id="prev-week-btn">-week</a>
            <a class="btn btn-secondary btn-sm px-1" id="today-btn">Today</a>
            <a class="btn btn-secondary btn-sm px-1" id="sunday-btn">Sunday</a>
            <a class="btn btn-secondary btn-sm px-1" id="next-week-btn">+week</a>
            {% if form.date.errors %}
                {% for error in form.date.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        {{ form.celebrant.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.celebrant(class='form-control') }}
            {% if form.celebrant.errors %}
                {% for error in form.celebrant.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        {{ form.preacher.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.preacher(class='form-control') }}
            {% if form.preacher.errors %}
                {% for error in form.preacher.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        {{ form.primary_feast_name.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.primary_feast_name(class='form-select') }}
            {% if form.primary_feast_name.errors %}
                {% for error in form.primary_feast_name.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        {{ form.secondary_feast_name.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.secondary_feast_name(class='form-select') }}
            {% if form.secondary_feast_name.errors %}
                {% for error in form.secondary_feast_name.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3">
            {{ form.introit_hymn.label }}
            {{ form.introit_hymn(class='form-select') }}
        </div>
        <div class="col-sm-3">
            {{ form.offertory_hymn.label }}
            {{ form.offertory_hymn(class='form-select') }}
        </div>
        <div class="col-sm-3">
            {{ form.recessional_hymn.label }}
            {{ form.recessional_hymn(class='form-select') }}
        </div>
    </div>

    <div class="row mb-3">
        {{ form.anthem_title.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.anthem_title(class='form-control') }}
            {% if form.anthem_title.errors %}
                {% for error in form.anthem_title.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        {{ form.anthem_composer.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.anthem_composer(class='form-control') }}
            {% if form.anthem_composer.errors %}
                {% for error in form.anthem_composer.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        {{ form.anthem_lyrics.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-5">
            {{ form.anthem_lyrics(class='form-control') }}
            {% if form.anthem_lyrics.errors %}
                {% for error in form.anthem_lyrics.errors %}
                    <small class="font-small text-danger">
                        {{ error }}
                    </small>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <input type="submit" class="btn btn-success w-100" value="Create">
    </div>
</form>

<script>
    const autoTitleBtn = document.getElementById('auto-title-btn');
    const titleField = document.getElementById('title');
    const primaryFeastNameField = document.getElementById('primary_feast_name');
    const secondaryFeastNameField = document.getElementById('secondary_feast_name');
    const dateField = document.getElementById('date');

    autoTitleBtn.onclick = () => {
        if (secondaryFeastNameField.value)
            titleField.value = primaryFeastNameField.value + ' (' + secondaryFeastNameField.value + ') ';
        else
            titleField.value = primaryFeastNameField.value;
    };

    const today = new Date()
    const day = 1000 * 60 * 60 * 24;  // milliseconds in a day
    const sunday = new Date(today.getTime() + (7 - today.getDay())*day);

    function toISO(date) {
        return date.toISOString().split('T')[0];
    }

    dateField.value = toISO(today);

    const todayBtn = document.getElementById('today-btn');
    todayBtn.onclick = () => {
        dateField.value = toISO(today);
    };

    const sundayBtn = document.getElementById('sunday-btn');
    sundayBtn.onclick = () => {
        dateField.value = toISO(sunday);
    };

    const prevWeekBtn = document.getElementById('prev-week-btn');
    prevWeekBtn.onclick = () => {
        const prevWeek = (new Date(dateField.value)).getTime() - 7 * day;
        dateField.value = toISO(new Date(prevWeek));
    };

    const nextWeekBtn = document.getElementById('next-week-btn');
    nextWeekBtn.onclick = () => {
        const nextWeek = (new Date(dateField.value)).getTime() + 7 * day;
        dateField.value = toISO(new Date(nextWeek));
    };

    /**
     * Cause a class to be applied to the specified fields when the
     * specified element is mouseovered. Note that this overwrites
     * btn.onmouseover and btn.onmouseout, so it can only be used once
     * for each btn.
     *
     * @param btn the element that should highlight when mouseovered, probably a button
     * @param cls the class to apply, e.g. bg-warning
     * @param fields the elements that should be modified, probably input fields
     */
    function highlightOnMouseover(btn, cls, fields)
    {
        btn.onmouseover = () => {
            fields.forEach((e) => {e.classList.add(cls)});
        };
        btn.onmouseout = () => {
            fields.forEach((e) => {e.classList.remove(cls)});
        };
    }

    highlightOnMouseover(autoTitleBtn, 'bg-warning', [titleField]);
    highlightOnMouseover(todayBtn, 'bg-warning', [dateField]);
    highlightOnMouseover(sundayBtn, 'bg-warning', [dateField]);
    highlightOnMouseover(prevWeekBtn, 'bg-warning', [dateField]);
    highlightOnMouseover(nextWeekBtn, 'bg-warning', [dateField]);

    addTooltip(prevWeekBtn, '7 days earlier');
    addTooltip(todayBtn, 'Set the date to today');
    addTooltip(sundayBtn, 'Set the date to this Sunday');
    addTooltip(nextWeekBtn, '7 days later');
</script>
