{% extends 'base.html' %}
{% block title %}Texts{% endblock %}
{% block content %}
    <h1>Texts</h1>

    <h2>Download texts</h2>
    <a class="btn btn-secondary"
       href="{{ url_for('texts_download_csv_view') }}">.csv</a>
    <a class="btn btn-success"
       href="{{ url_for('texts_download_xlsx_view') }}">.xlsx</a>

    <h2>Update Texts</h2>


    <div class="container">
        <form method="post" action="{{ url_for('texts_view') }}"
              onsubmit="return confirm('Are you sure you want to submit? The existing text will be irretrievably overwritten!')">
            {{ form.csrf_token }}

            <div class="row mb-3">
                {{ form.csv.label(class='col-sm-1 col-form-label') }}
                <div class="col">
                    {{ form.csv(class='form-control', rows=15, cols=80, style='font-family: monospace;') }}
                    {% if form.csv.errors %}
                        {% for error in form.csv.errors %}
                            <small class="font-small text-danger">
                                {{ error }}
                            </small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-secondary w-100" value="Update">
                </div>
            </div>
        </form>
    </div>

{% endblock %}
